<div class="card margin-y">
  <div class="card-title">
    Responsive Layout
  </div>
  <div class="card-subtitle">
    Easy media queries and customizable breakpoints.
  </div>
  <div class="card-content">
    EVA provides three different mixins with responsive media queries:

    <ul>
      <li>resolutions-above($resolution)</li>
      <li>resolutions-below($resolution)</li>
      <li>resolutions-between($min, $max)</li>
    </ul>

    <p>Use these mixins under any SCSS rule and use your own rules.</p>

    <b>Note:</b>
    to use these mixins, or any other SCSS funtionality of Eva you need to
    import the eva-for-scss.scss file. It will not add any bundle size since it
    includes only sass code without any css classes.

    <pre class="show-for-medium">
.some-class &#123; padding: 0.5rem; @include resolutions-above(resolution(large)) &#123; padding: 1rem &#125;&#125;;</pre
    >

    <div class="grid-x">
      <div class="cell small-12 responsive-layout-example">
        Change screen size and see this container change colors!
      </div>
    </div>
  </div>
</div>
