<div class="card margin-y">
  <div class="card-title">
    Forms
  </div>
  <div class="card-subtitle">
    Input and textarea exaple with error validation.
  </div>
  <div class="card-content">
    <form class="grid-x grid-margin-y grid-margin-x" #exampleForm="ngForm">
      <div class="cell small-12">
        Add the form-field class to the container of the input and add a
        material icon with the prefix-icon or suffix-icon class
        <b>before</b>
        the input to add the icon.
      </div>
      <div class="cell small-12 form-field">
        <label>Input example</label>
        <input
          required
          type="email"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
          placeholder="email@email.com"
          [(ngModel)]="email"
          name="email"
        />
      </div>
      <div class="cell small-6 form-field">
        <i class="material-icons prefix-icon">
          attach_money
        </i>
        <input type="text" required placeholder="Prefix icon input" />
      </div>
      <div class="cell small-6 form-field">
        <i class="material-icons suffix-icon">
          date_range
        </i>
        <input type="text" required placeholder="Suffix icon input" />
      </div>
      <div class="cell small-12">
        <label>Select example</label>
        <select placeholder="Choose Wisely">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="cell small-12">
        <label>Textarea example</label>
        <textarea
          required
          [(ngModel)]="textareaField"
          name="textareaField"
          cols="30"
          grid-x
          grid-margin-xs="10"
        ></textarea>
      </div>
    </form>
  </div>
</div>
