@import '../../../styles/theme/theme.scss';

.styleguide-container {
  background-color: #f5f5f5;
}

.responsive-layout-example {
  height: 2rem;
  background-color: color(tertiary, base);

  @include resolutions-above(medium) {
    background-color: color(secondary, base);
  }

  @include resolutions-above(large) {
    background-color: color(accent, base);
  }

  @include resolutions-above(xlarge) {
    background-color: color(primary, base);
  }
}
