<div class="card margin-y">
  <div class="card-title">
    Material Bottom Sheet
  </div>
  <div class="card-subtitle">
    <a
      href="https://material.angular.io/components/bottom-sheet/overview"
      target="_blank"
    >
      Bottom Sheet
    </a>
    to be used as a Dialog.
  </div>
  <div class="card-content">
    <p>
      In this starter project there's a service to create your own bottom sheets
      which can be minimized and kept open. You'll need to create your own
      component to display. Open it through the bottom sheet service in this
      project.
    </p>
    <p>
      <b>
        TODO:
      </b>
      Create option to expand the bottom sheet and open it on a Material Dialog
      automatically
    </p>

    <div class="grid-x margin-y">
      <button class="eva-btn-primary" (click)="openBottomSheet()">
        Open bottom sheet
      </button>
    </div>
  </div>
</div>
