<div class="card margin-y">
  <div class="card-title">
    Spinner
  </div>
  <div class="card-subtitle">
    SCSS Made Spinner
  </div>
  <div class="card-content">
    SCSS Custom made spinner takes less resources and loads faster than Material
    Spinner. You can select which color to display the spinner with an Input
    decorator, by default it uses the primary color.

    <pre>&lt;eva-spinner [color]="'primary'"&gt;&lt;/eva-spinner&gt;</pre>

    <div class="center-xy grid-x grid-margin-x">
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'primary'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'secondary'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'tertiary'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'accent'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'success'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'warning'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'danger'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'info'"></eva-spinner>
      </div>
      <div class="small-4 medium-shrink cell">
        <eva-spinner [color]="'neutral'"></eva-spinner>
      </div>
    </div>
  </div>
</div>
