.header-title {
  font-size: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  min-height: 2rem;
  background-color: #404040;
  color: white;
  cursor: pointer;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: center;

  .minimize-icon,
  .maximize-icon {
    font-size: 2.15rem;
  }

  i {
    margin: 0 0.25rem;
  }
}
